* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    --header-color-:#2229;
    --text-color:#fff;
    --nav-color:#48e;/*rojito F72808, soydalto 48e, morado 4B004F, verde 271  */
    --bg-color:#222;
    --shadow: #48e; /*soy dalto 48e, morado, 9D0687, rojito F72808 ,verde 34B71A*/
    background-color: var(--bg-color);
}
/*MAIN Section*/
.main{
    display: flex;
    align-items: flex-start;
    flex: 1;
}

/*Nav seciton*/
.nav{
    background-color:var(--nav-color);
    filter: drop-shadow(0 0 6px var(--shadow));
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 6px var(--header-color- );
}
.ul__nav{
    display: flex;
}
.item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 10px 70px;
    background-color: var(--nav-color);
    color: var(--text-color);
    border: 0;
    font-size: 1.5rem;
}
.item--Exit{
    background-color: #0A316B; /* azul 0A316B , rojo 450B02, morado 470047 ,verde 123E09 */
    border-radius: 20px;
}
.item:hover{
    background-color:#6bf;/*azul 6bf, rojo FA7561, morado CA07AD,verde 62E548 */
    border-radius: 20px;
}
.item:active{
    transform: translateY(2px);
}

/*CONTROL SECTION*/
.control {
    margin-top: 50px; 
    margin-left: 50px;
    padding: 5px 50px 5px 20px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 5px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 8px #888;
}

.control__container {
    display: grid;
    grid-template-columns: repeat(3, 60px) 40px repeat(1, 60px); 
    grid-template-rows: repeat(3, 60px);
    gap: 30px;
    margin-top: 15px;
    
}

/*estilito*/
.btn-control {
    width: 80px;
    height: 80px;
    background-color: #444;
    color: white;
    border: 2px solid #666;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0 #666;
    font-size:large;
    
}

.btn-control:active {
    transform: translateY(2px);
}

/* Posicionamiento de la coluna (Fila / Columna) */
.Y-up    { grid-area: 1 / 2; } /* Fila 1, Col 2 */
.X-left  { grid-area: 2 / 1; } /* Fila 2, Col 1 */
.Y-down  { grid-area: 2 / 2; } /* Fila 2, Col 2 (Centro) */
.X-right { grid-area: 2 / 3; } /* Fila 2, Col 3 */

/*Z*/
.Z-up    { grid-area: 1 / 5; } /* Fila 1, Col 5 */
.Z-down  { grid-area: 2 / 5; } /* Fila 2, Col 5 */

.spacer { grid-area: 1 / 4; width: 20px; } /* Espacio entre cruceta y Z */

/*Display Section*/
.points{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid #666;
    border-radius: 10px; 
    color: var(--text-color);
    text-align: center;
}

/*Footer*/
footer{
    top: 100vh;
    width: 100%;
    filter: drop-shadow(0 0 4px var(--shadow));
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
    background-color:#1E1A4D ; /*azul 1E1A4D , rojo 82181A, morado 4B004F  ,verde 35530E  */
}
